<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to {site_name}</title>
</head>
<body>

<div style="width:100%; background-color: #fff;" align="center">



<table width="100%" border="0" cellspacing="0" cellpadding="0">

  <tr>
    <td align="center" valign="top" style="background-color: #fff;" bgcolor="#fff;">
        <table width="600" border="0" cellspacing="0" cellpadding="0" style="border: 20px solid #08b9aa;">
          <tr>
            <td width="20" align="left" valign="top" bgcolor="#fff" style="background-color:#fff;">&nbsp;</td>
            <td align="center" valign="top" bgcolor="#fff" style="background-color:#fff; color:#7b7b7b; font-family:Arial, Helvetica, sans-serif; font-size:14px;"><br>
              <br>
            <br>
            <img src="http://noqnri.com/images/logo.png" style="max-width: 150px;">
            <div style="color:#ff0066; font-family:Georgia, Times New Roman, Times, serif; font-size:24px; margin-top: 30px;">
            	Hi {name},
            </div><br>
                <br>
              <div style="color:#717171; font-family:Georgia, Times New Roman, Times, serif; font-size:24px;"> {content_text} , <br><br> <u>You can register through,</u> <br/></div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="65" align="left" valign="middle"><div style="color:#999; font-size:20px; font-family:Arial, Helvetica, sans-serif;"></div></td>
                    <td height="65" align="left" valign="middle"><div style="color:#999; font-size:20px; font-family:Arial, Helvetica, sans-serif;">{link}</div></td>
                    <td height="65" align="left" valign="middle"><div style="color:#999; font-size:20px; font-family:Arial, Helvetica, sans-serif;"></div></td>
                  </tr>
                  
                  <tr>
                    <td height="65" align="left" valign="middle"><div style="color:#999; font-size:20px; font-family:Arial, Helvetica, sans-serif;"></div></td>
                    <td height="65" align="left" valign="middle"><div style="color:#717171; font-family:Georgia, Times New Roman, Times, serif; font-size:24px; margin-left: -70px;"><u>Register Credentials, </u></div></td>
                    <td height="65" align="left" valign="middle"><div style="color:#999; font-size:20px; font-family:Arial, Helvetica, sans-serif;"></div></td>
                  </tr>

                  <tr>
                    <td height="65" align="left" valign="middle"><div style="color:#999; font-size:20px; font-family:Arial, Helvetica, sans-serif; margin-left: 20px;">Username :</div></td>
                   
                    <td height="65" align="left" valign="middle"><div style="color:#999; font-size:20px; font-family:Arial, Helvetica, sans-serif;">{username}</div></td>
                  </tr>
                  <tr>
                    <td align="center" valign="middle"></td>
                  </tr>
                </table>
                
<br>
<br>
<div style="color:#7b7b7b; font-family:Arial, Helvetica, sans-serif; font-size:14px;"><b>Company Address</b> <br>
  {company_name} <br>
  Phone: {phone} <br>
  Email: {gmail} <br>
  Website: {website}</div>

<br></td>
            <td width="20" align="left" valign="top" bgcolor="#fff" style="background-color:#fff;">&nbsp;</td>
          </tr>
        </table>
    </td>
  </tr>
</table>

</div>

</body>
</html>